//
//  MIXINS
//_____________________________________________________________________________


//  `Breakpoints
//  https://medium.com/developing-with-sass/refactoring-my-simple-sass-breakpoint-mixin-71205dd6badd
//_____________________________________________________________________________

$xs: ( max:  479px );
$sm: ( min:  480px );
$md: ( min:  768px );
$lg: ( min:  1000px );
$xl: ( min:  1200px );
$to-md:   ( max: 767px );
$to-lg:   ( max: 999px );
$to-xl:   ( max: 1199px );
$vga:     ( min: 800px );
$xga:     ( min: 1024px );
$svga:    ( min: 1280px );
$sm-only: ( min: map-get($sm, min), max: map-get($md, min) - 1 );
$md-only: ( min: map-get($md, min), max: map-get($lg, min) - 1 );
$lg-only: ( min: map-get($lg, min), max: map-get($xl, min) - 1 );

@mixin breakpoint($map) {
    $query: null;
    @if map-has-key($map, min) {
        $query: append($query, "(min-width: #{map-get($map, min)})")
    }
    @if map-has-key($map, min) and map-has-key($map, max) {
        $query: append($query, "and")
    }
    @if map-has-key($map, max) {
        $query: append($query, "(max-width: #{map-get($map, max)})")
    }
    @media screen and #{$query} { @content; }
}


//  `Clearfix
//_____________________________________________________________________________

@mixin clearfix {
    &:after, &:before {
        content: "\0020";
        display: block;
        height: 0;
        visibility: hidden;
    }

    &:after {
        clear: both;
    }

    zoom: 1;
}


//  `Font-face
//  https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/addons/_font-face.scss
//_____________________________________________________________________________

@mixin font-face($font-family, $file-path, $weight: normal, $style: normal ) {
  @font-face {
      font-family: $font-family;
      src: url('#{$file-path}.eot');
      src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'),
           url('#{$file-path}.woff') format('woff'),
           url('#{$file-path}.ttf') format('truetype'),
           url('#{$file-path}.svg##{$font-family}') format('svg');
      font-weight: $weight;
      font-style: $style;
  }
}


//  `Font Size
//  Calculates
//_____________________________________________________________________________

@mixin font-size($sizeValue: 16) {
	$size: strip-unit($sizeValue);
    $em: strip-unit($em-base);
    font-size: $size + px;
    font-size: ($size / $em) + rem;
}

//  `Border Radius
//_____________________________________________________________________________

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
    background-clip: padding-box;
}

@mixin border-corner-radius($topbottom, $leftright, $radius) {
    -webkit-border-#{$topbottom}-#{$leftright}-radius: $radius;
    -moz-border-radius-#{$topbottom}#{$leftright}: $radius;
    border-#{$topbottom}-#{$leftright}-radius: $radius;
    background-clip: padding-box;
}


//  `Box Shadow
//_____________________________________________________________________________

$default-box-shadow-h-offset:   0px !default;
$default-box-shadow-v-offset:   0px !default;
$default-box-shadow-blur:       3px !default;
$default-box-shadow-spread:     false !default;
$default-box-shadow-color:      #333333 !default;
$default-box-shadow-inset :     false !default;

@mixin box-shadow(
    $h-offset   : $default-box-shadow-h-offset,
    $v-offset   : $default-box-shadow-v-offset,
    $blur       : $default-box-shadow-blur,
    $spread     : $default-box-shadow-spread,
    $color      : $default-box-shadow-color,
    $inset      : $default-box-shadow-inset
) {

    @if $color == none {
        @include box-shadow-render(none);
    } @else {
        $full       : $h-offset $v-offset;
        @if $blur   { $full: $full $blur;   }
        @if $spread { $full: $full $spread; }
        @if $color  { $full: $full $color;  }
        @if $inset  { $full: inset $full;   }

        @include box-shadow-render($full);
    }
}

@mixin box-shadow-render($shadow) {
    -webkit-box-shadow: $shadow;
       -moz-box-shadow: $shadow;
            box-shadow: $shadow;
}


//  `Opacity
//_____________________________________________________________________________

@mixin opacity($opacity) {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{round($opacity * 100)})";
    filter: alpha(opacity=#{round($opacity * 100)});
    opacity: $opacity;
}


//  `Opacity
//_____________________________________________________________________________

@mixin blur($value) {
	-webkit-filter: blur($value);
	-moz-filter: blur($value);
	-o-filter: blur($value);
    -ms-filter: blur($value);
    filter: blur($value);
}



// `Transform
// As transform attributes are the same, add vendor prefixes.
//_____________________________________________________________________________

@mixin transform($transform) {
    -webkit-transform: $transform;
    -moz-transform: $transform;
    -o-transform: $transform;
    -ms-transform: $transform;
    transform: $transform;
}

@mixin transform-style($transform) {
    -webkit-transform-style: $transform;
    -moz-transform-style: $transform;
    -o-transform-style: $transform;
    -ms-transform-style: $transform;
    transform-style: $transform;
}


//  `Transitions
//_____________________________________________________________________________

$default-transition-property: all !default;
$default-transition-duration: 0.3s !default;
$default-transition-function: ease-out !default;
$default-transition-delay: false !default;

@mixin transition(
    $properties: $default-transition-property,
    $duration: $default-transition-duration,
    $function: $default-transition-function,
    $delay: $default-transition-delay
) {
    $full         : $properties;
    @if $duration { $full: $full $duration; }
    @if $function { $full: $full $function; }
    @if $delay    { $full: $full $delay;    }

    @include transition-render($full);
}

@mixin transition-render($transition) {
       -moz-transition: $transition;
         -o-transition: $transition;
    -webkit-transition: $transition;
        -ms-transition: $transition;
            transition: $transition;
}

// `Keyframes
// _______________________________________________________________________________

@mixin keyframes($name, $count, $duration) {
    -moz-animation-name: $name;
    -moz-animation-iteration-count: $count;
    -moz-animation-duration: $duration;
    
    -ms-animation-name: $name;
    -ms-animation-iteration-count: $count;
    -ms-animation-duration: $duration;
    
    -o-animation-name: $name;
    -o-animation-iteration-count: $count;
    -o-animation-duration: $duration;
    
    -webkit-animation-name: $name;
    -webkit-animation-iteration-count: $count;
    -webkit-animation-duration: $duration;

    animation-name: $name;
    animation-iteration-count: $count;
    animation-duration: $duration;
}

@mixin keyframe-set($name) {
	@-moz-keyframes #{$name} {@content};
	@-ms-keyframes #{$name} {@content};
	@-o-keyframes #{$name} {@content};
	@-webkit-keyframes #{$name} {@content};
	@keyframes #{$name} {@content};
}

//  `Linear Gradient
//  Create a simple vertical gradient using two colours. Top starting point.
//_____________________________________________________________________________

@mixin vertical-gradient($start-colour, $end-colour) {
    background-image: -webkit-gradient(linear, left top, left bottom, from($start-colour), to($end-colour));
    background-image: -webkit-linear-gradient(top, $start-colour, $end-colour);
    background-image:    -moz-linear-gradient(top, $start-colour, $end-colour);
    background-image:     -ms-linear-gradient(top, $start-colour, $end-colour);
    background-image:      -o-linear-gradient(top, $start-colour, $end-colour);
    background-image:         linear-gradient(top, $start-colour, $end-colour);
          -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#{$start-colour}', EndColorStr='#{$end-colour}')";
}


//  `Flex Box
//_____________________________________________________________________________

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex: $values;
  -webkit-flex: $values;
  -ms-flex: $values;
  flex: $values;
}

@mixin flex-flow($values) {
    -webkit-flex-flow: $values;
    -moz-flex-flow: $values;
    -ms-flex-flow: $values;
    flex-flow: $values;
}

@mixin order($value) {
  -webkit-box-ordinal-group: $value;
  -moz-box-ordinal-group: $value;
  -ms-flex-order: $value;
  -webkit-order: $value;
  order: $value;
}

@mixin justify-content($value) {
	-webkit-box-pack: $value;
	-moz-box-pack: $value;
	-ms-flex-pack: $value;
	-webkit-justify-content: $value;
	justify-content: $value;
}

@mixin align-items($value) {
	-webkit-align-content: $value;
	align-content: $value;
	-webkit-align-items: $value;
	align-items: $value;
}


//  `Placeholder
//_____________________________________________________________________________

@mixin placeholder {
    &::-webkit-input-placeholder {@content}
    &:-moz-placeholder           {@content}
    &::-moz-placeholder          {@content}
    &:-ms-input-placeholder      {@content}
}


//  `Webkit vendorize
//_____________________________________________________________________________

@mixin webkit($property, $value) {
    -webkit-#{$property}: #{$value};
    #{$property}: #{$value};
}



//  `User select
//_____________________________________________________________________________

@mixin user-select($value) {
	-webkit-touch-callout: $value;
	-webkit-user-select: $value;
	-khtml-user-select: $value;
	-moz-user-select: $value;
	-ms-user-select: $value;
	user-select: $value;
}
