@import "mixins";

.ie9 {
	.cols .half {
		//display: inline-block;
	}
	
	.header {
		padding: 40px 20px !important;
		
		h1 {
			margin: 0 !important;
		}
	}
	
	label.modal {
		display: block !important;
		margin-bottom: 10px;
	}
	
	ul.steps {
		display: block;
		
		li {
			display: inline-block;
		}
	}

	ul.tiles {
		& > li > label > span {
			display: block;
		}
		
		.inset-choice {
			max-width: 195px;
			margin: 0 auto;
			padding: 0 10px;
		}
	}

	ul.fields {
		li {
			display: inline-block;

			@include breakpoint($sm) {
				&.full { width: 97%; }
				&.half {
					width: 48%;
				}
				&.quarter {
					width: 23.5%;
				}
			}
		}
	}

	@include breakpoint($xs) {
		#cart {
			table {
				tbody {
					tr[data-cart-item] {
						clear: left;

						td {
							clear: left;
							float: left;
							width: 100%;
							padding: 15px 20px 0 200px;

							&:nth-child(1) {
								div {
									margin-bottom: 0;
								}
							}

							&:nth-child(2) {
							}

							&:nth-child(3) {
								padding-top: 0;

								.wrapper {
									margin-bottom: 15px;
								}
							}

							img {
								//position: static;
								//left: 0;
							}
						}				
					}
				}

				tfoot {

					tr {
						&:first-child {
							th,
							td {
								padding-top: 40px;
							}
							
						}

						&.mobile-border {
							th,
							td {
								padding-top: 20px;
							}
						}

						th,
						td {
							padding: 0 20px 10px;

							&:nth-child(1) {
							}

							&:nth-child(2) {
								float: left;
								width: 75%;
							}

							&:nth-child(3) {
								position: static;
								float: right;
								width: 25%;
								text-align: right;
							}

							&[colspan] {
								width: 100%;
							}
						}

					}

				}
			}
		}
	}
}

.ie10,
.ie11 {

	ul.tiles {
		& > li > label > span {
			display: block;
		}
	}
}

.ie10 {
	
	.choices .container {
		max-width: 95vw;
	}
	.choices section .container .header h1 {
		@include flex(0 1 auto);
	}
	
	
	@include breakpoint($to-md) {
		.header h1 {
		}
		
		nobr {
			display: block;
		}
	}
	
	table td {
		
	}
}

.ie11 {
	.inset-choice {
		ul {
			margin: auto;
		}
	}
}

