@import "mixins";

$color-white: #fff;
$color-black: #000;
$color-red: #d6303a;
$color-skin: #fef1d6;
$color-grey-border: #e2e2e2;
$color-grey-header: #f5f6f7;
$color-beige-border: #ecebe2;
$color-error-border: #f1757d;

$color-bg-nav: $color-red;
$color-bg-header: $color-grey-header;
$color-tile-outline: $color-grey-border;
$color-tile-hover: $color-bg-header;
$color-input-assist: $color-error-border;

// @include keyframe-set(border-white-pulse) {
// 	0%, 65%, 85%, 100% {
// 		border-color: $color-white;
// 	}
// 	
// 	75% {
// 		border-color: $color-input-assist;
// 	}
// }
// 
// @include keyframe-set(border-grey-pulse) {
// 	0%, 65%, 85%, 100% {
// 		border-color: $color-grey-border;
// 	}
// 	
// 	75% {
// 		border-color: $color-input-assist;
// 	}
// }
// 
// @include keyframe-set(border-skin-pulse) {
// 	0%, 65%, 85%, 100% {
// 		border-color: $color-skin;
// 	}
// 	
// 	75% {
// 		border-color: $color-input-assist;
// 	}
// }

@include keyframe-set(border-beige-pulse) {
	0%, 65%, 85%, 100% {
		border-color: $color-grey-header;
	}
	
	75% {
		border-color: $color-input-assist;
	}
}

@include keyframe-set(field-assist-pulse) {
	0%, 65%, 85%, 100% {
		background-color: $color-white;
		border-color: $color-grey-border;
	}
	
	75% {
		background-color: #fee;
		border-color: $color-input-assist;
	}
}

@include keyframe-set(field-assist-pulse-fast) {
	0%, 15%, 35%, 55%, 100% {
		background-color: #fee;
		border-color: $color-input-assist;
	}
	
	25%, 45% {
		background-color: $color-white;
		border-color: $color-grey-border;
	}
}
