.ie9 .header {
  padding: 40px 20px !important; }
  .ie9 .header h1 {
    margin: 0 !important; }
.ie9 label.modal {
  display: block !important;
  margin-bottom: 10px; }
.ie9 ul.steps {
  display: block; }
  .ie9 ul.steps li {
    display: inline-block; }
.ie9 ul.tiles > li > label > span {
  display: block; }
.ie9 ul.tiles .inset-choice {
  max-width: 195px;
  margin: 0 auto;
  padding: 0 10px; }
.ie9 ul.fields li {
  display: inline-block; }
  @media screen and (min-width: 480px) {
    .ie9 ul.fields li.full {
      width: 97%; }
    .ie9 ul.fields li.half {
      width: 48%; }
    .ie9 ul.fields li.quarter {
      width: 23.5%; } }
@media screen and (max-width: 479px) {
  .ie9 #cart table tbody tr[data-cart-item] {
    clear: left; }
    .ie9 #cart table tbody tr[data-cart-item] td {
      clear: left;
      float: left;
      width: 100%;
      padding: 15px 20px 0 200px; }
      .ie9 #cart table tbody tr[data-cart-item] td:nth-child(1) div {
        margin-bottom: 0; }
      .ie9 #cart table tbody tr[data-cart-item] td:nth-child(3) {
        padding-top: 0; }
        .ie9 #cart table tbody tr[data-cart-item] td:nth-child(3) .wrapper {
          margin-bottom: 15px; }
  .ie9 #cart table tfoot tr:first-child th,
  .ie9 #cart table tfoot tr:first-child td {
    padding-top: 40px; }
  .ie9 #cart table tfoot tr.mobile-border th,
  .ie9 #cart table tfoot tr.mobile-border td {
    padding-top: 20px; }
  .ie9 #cart table tfoot tr th,
  .ie9 #cart table tfoot tr td {
    padding: 0 20px 10px; }
    .ie9 #cart table tfoot tr th:nth-child(2),
    .ie9 #cart table tfoot tr td:nth-child(2) {
      float: left;
      width: 75%; }
    .ie9 #cart table tfoot tr th:nth-child(3),
    .ie9 #cart table tfoot tr td:nth-child(3) {
      position: static;
      float: right;
      width: 25%;
      text-align: right; }
    .ie9 #cart table tfoot tr th[colspan],
    .ie9 #cart table tfoot tr td[colspan] {
      width: 100%; } }

.ie10 ul.tiles > li > label > span,
.ie11 ul.tiles > li > label > span {
  display: block; }

.ie10 .choices .container {
  max-width: 95vw; }
.ie10 .choices section .container .header h1 {
  -webkit-box-flex: 0 1 auto;
  -moz-box-flex: 0 1 auto;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto; }
@media screen and (max-width: 767px) {
  .ie10 nobr {
    display: block; } }

.ie11 .inset-choice ul {
  margin: auto; }

/*# sourceMappingURL=ie.css.map */
