@-moz-keyframes border-beige-pulse {
  0%, 65%, 85%, 100% {
    border-color: #f5f6f7; }
  75% {
    border-color: #f1757d; } }
@-ms-keyframes border-beige-pulse {
  0%, 65%, 85%, 100% {
    border-color: #f5f6f7; }
  75% {
    border-color: #f1757d; } }
@-o-keyframes border-beige-pulse {
  0%, 65%, 85%, 100% {
    border-color: #f5f6f7; }
  75% {
    border-color: #f1757d; } }
@-webkit-keyframes border-beige-pulse {
  0%, 65%, 85%, 100% {
    border-color: #f5f6f7; }
  75% {
    border-color: #f1757d; } }
@keyframes border-beige-pulse {
  0%, 65%, 85%, 100% {
    border-color: #f5f6f7; }
  75% {
    border-color: #f1757d; } }
@-moz-keyframes field-assist-pulse {
  0%, 65%, 85%, 100% {
    background-color: #fff;
    border-color: #e2e2e2; }
  75% {
    background-color: #fee;
    border-color: #f1757d; } }
@-ms-keyframes field-assist-pulse {
  0%, 65%, 85%, 100% {
    background-color: #fff;
    border-color: #e2e2e2; }
  75% {
    background-color: #fee;
    border-color: #f1757d; } }
@-o-keyframes field-assist-pulse {
  0%, 65%, 85%, 100% {
    background-color: #fff;
    border-color: #e2e2e2; }
  75% {
    background-color: #fee;
    border-color: #f1757d; } }
@-webkit-keyframes field-assist-pulse {
  0%, 65%, 85%, 100% {
    background-color: #fff;
    border-color: #e2e2e2; }
  75% {
    background-color: #fee;
    border-color: #f1757d; } }
@keyframes field-assist-pulse {
  0%, 65%, 85%, 100% {
    background-color: #fff;
    border-color: #e2e2e2; }
  75% {
    background-color: #fee;
    border-color: #f1757d; } }
@-moz-keyframes field-assist-pulse-fast {
  0%, 15%, 35%, 55%, 100% {
    background-color: #fee;
    border-color: #f1757d; }
  25%, 45% {
    background-color: #fff;
    border-color: #e2e2e2; } }
@-ms-keyframes field-assist-pulse-fast {
  0%, 15%, 35%, 55%, 100% {
    background-color: #fee;
    border-color: #f1757d; }
  25%, 45% {
    background-color: #fff;
    border-color: #e2e2e2; } }
@-o-keyframes field-assist-pulse-fast {
  0%, 15%, 35%, 55%, 100% {
    background-color: #fee;
    border-color: #f1757d; }
  25%, 45% {
    background-color: #fff;
    border-color: #e2e2e2; } }
@-webkit-keyframes field-assist-pulse-fast {
  0%, 15%, 35%, 55%, 100% {
    background-color: #fee;
    border-color: #f1757d; }
  25%, 45% {
    background-color: #fff;
    border-color: #e2e2e2; } }
@keyframes field-assist-pulse-fast {
  0%, 15%, 35%, 55%, 100% {
    background-color: #fee;
    border-color: #f1757d; }
  25%, 45% {
    background-color: #fff;
    border-color: #e2e2e2; } }

/*# sourceMappingURL=keyframes.css.map */
